<style>
        
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        
        .sidenav a:hover {
            color: #f1f1f1;
        }
        
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
        
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
        
        
        
        
        
        .img-responsive2
        {
          height: 25px;
          width: 30px;
        }
        
        
        .caption {
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          text-align: center;
          color: #000;
        }
        
        .caption span.border {
          background-color: #111;
          color: #fff;
          padding: 18px;
          font-size: 25px;
          letter-spacing: 10px;
        }
        
        
        
        
               
        
        </style>
        
        <div>
        <div class="bgimg-1">
        
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home <i class="fa fa-home" style="font-size:36px"></i></a>
          <% if(!currentUser) { %>
          <a href="/login">Login <i class="fa fa-user-circle" style="font-size:36px"></i></i></a>
          <% } %>
          <a href="/campgrounds">View Camps <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></a>
          <a href="/aboutus">About us <i class="fa fa-users" style="font-size:36px"></i></a>
          <% if(currentUser) { %>
          <a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true" style="font-size:24px"></i></a>        
          <% } %>
        </div>
        
        <div id="main">
         
          
          <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776; MENU</span>
        </div>
        
        <% if (error && error.length>0) {%>
        <div class="container">
          <div class="alert alert-danger" role="alert"><% error %></div>
        </div>
        <% } %>
        <% if (success && success.length>0) {%>
        <div class="container">
          <div class="alert alert-success" role="alert"><% success %></div>
        </div>
        <% } %>
        
        <style>
          #main{
            margin-bottom: 50px;
          }
        </style>
        