<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<style>
        body {
            font-family: "Lato", sans-serif;
            transition: background-color .5s;
        }
        
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        
        .sidenav a:hover {
            color: #f1f1f1;
        }
        
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
        
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
        
        
        
        
        
        .img-responsive2
        {
          height: 25px;
          width: 30px;
        }
        
        
        .caption {
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          text-align: center;
          color: #000;
        }
        
        .caption span.border {
          background-color: #111;
          color: #fff;
          padding: 18px;
          font-size: 25px;
          letter-spacing: 10px;
        }
        p.border
        {
          
          color: white;
          font-family: sans-serif;
          font-style: italic;
          padding: 10px;
          font-size: 30px;
          letter-spacing: 2px;
        }
        
        h3 {
          letter-spacing: 5px;
          text-transform: uppercase;
          font: 20px "Lato", sans-serif;
          color: #111;
        }
        
        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1024px) {
            .bgimg-1, .bgimg-2, .bgimg-3 {
                background-attachment: scroll;
            }
        }
        
        .about_us_button
        {
            position: absolute;
            margin: auto;
            height:150px; 
            width":35px    
        }       
        
        </style>
<body>
        <div>
        <div class="bgimg-1">
        
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home <i class="fa fa-home" style="font-size:36px"></i></a>
          <% if(!currentUser) { %>
          <a href="/login">Login <i class="fa fa-user-circle" style="font-size:36px"></i></i></a>
          <% } %>
          <a href="/campgrounds">View Camps <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></a>
          <a href="/aboutus">About us <i class="fa fa-users" style="font-size:36px"></i></a>
          <% if(currentUser) { %>
          <a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true" style="font-size:24px"></i></a>        
          <% } %>
        </div>
        
        <div id="main">
         
          
          <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776; MENU</span>
        </div>

<div class="login-wrap container"  >

    <div class="login-html row">
    <div class="col-sm-2">

        
    </div>
    <div  class="col-sm-8">
        

        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form method="post" action="/login">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="username" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password" required>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="/forgot/user">Forgot Password?</a>
                    </div>
                </div>
            </form>
            
           
                
            <form method="post" action="/register/user">
            <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input" name="username" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password" name="password"   required>
                </div>
                 
                
                 <div class="group">
                    <label for="email" class="label">Email</label>
                    <input id="email" type="email" class="input" name="email" required>
                </div>
                <div class="group">
                    <label for="phone" class="label">Phone Number</label>
                    <input id="phone" type="number" class="input" name="phone" required>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcUEDYUAAAAAA4VkOVnwdJtMJ0uxWBfnfgrPhnq"></div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
            </div>
        </form>
        
        </div>
    </div>
</div>
<div class="col-sm-2">
    
</div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous">
    </script>
    
    
  
   
<% include ./partials/footer %>